{% extends "base.html" %} 

{% block container %}

<section class="left_container">
    <div class="app_detail">
        <h1 class="app_title">Word Scraper</h1>
        <form class="search_form" method="POST" action="" >
            <input type="text" placeholder="Search" name="search"/>
            <button type="Submit" class="search_submit">
                <i class="bi bi-search"></i>
            </button>
        </form>
        <p>Search something to generate a word cloud!</p>
    </div>
</section>

<section class="right_container">
    <h2 class="feature_title">Featured word clouds</h2>

</section>

{% endblock %}