/**
    home.html styles
*/

/* Details */
.left_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.519), rgba(29, 25, 25, 0.903)), url("../images/Scrabble.jpg");
    background-color: var(--color-background);
    background-size: cover; */
    transition: 0.5s; 
    overflow: hidden;
}

.bg {
    /* top: 0; */
    /* left: 0; */
    /* width: 50%; */
    /* height: 100vh; */
    /* position: fixed; */
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.519), rgba(23, 23, 23, 0.903)), url("../images/Scrabble.jpg");
    background-color: var(--color-background);
    background-size: cover;
    transition: all 0.5s ease;
    
}

.app_detail {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: 0.5s;
}

.app_detail > h1 {
    font-size: var(--large-1);
    font-weight: 800;
    margin-bottom: 20px;
}

.app_detail > p {
    font-size: var(--medium-1);
}

.search_form {
    display:flex;
    height: 55px;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 40px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.search_form > input {
    width: 250px;
    outline: none;
    border: none;
    transition: 0.5s;
    background: transparent;
    font-size: var(--small-1);
}

.search_form:hover > input,
.search_form > button:hover input {
    width: 400px;
    padding: 5px;
}

.search_form > button {
    background: transparent;
    cursor: pointer;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.search_form > button > i {
    color: black;
    font-size: var(--medium-2);
    font-weight: 800;
}


/* Featured word clouds */
.right_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    overflow: hidden;
}

.app_featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    gap: 20px;
    width: 100%;
}

.feature_title {
    font-size: var(--large-2);
    transition: 0.5s;
}

/* Swiper  */
.swiper-container {
    width: 80%;
    background-color: var(--color-background);
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: contain;
    transition: 0.5s;
}

.swiper-slide img:hover {
    transform: scale(1.1);
    
}