name: Deploy to docker hub and digital ocean

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-web-app:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.ROBERT_DOCKER_USERNAME }}
          password: ${{ secrets.ROBERT_DOCKER_PASSWORD }}
      -
        name: Build and push web app
        uses: docker/build-push-action@v3
        with:
          context: ./web-app
          push: true
          tags: robertchenyf/software-engineer-final-team1-wordcloud:web-latest
          
  deploy-web-app:
    runs-on: ubuntu-latest
    needs: build-web-app

    steps:
      - name: DigitalOcean App Platform deployment
        uses: digitalocean/app_action@main
        with:
          app_name: web
          token: ${{ secrets.DIGITALOCEAN_API_KEY }}
  
  
  build-scraper-app:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.ROBERT_DOCKER_USERNAME }}
          password: ${{ secrets.ROBERT_DOCKER_PASSWORD }}
          
      -
        name: Build and push scraper app
        uses: docker/build-push-action@v3
        with:
          context: ./web-scraper
          push: true
          tags: robertchenyf/software-engineer-final-team1-wordcloud:scraper-latest
          
  deploy-scraper-app:
    runs-on: ubuntu-latest
    needs: build-scraper-app

    steps:
      - name: DigitalOcean App Platform deployment
        uses: digitalocean/app_action@main
        with:
          app_name: scraper
          token: ${{ secrets.DIGITALOCEAN_API_KEY }}
          
      
        
